.section {
    width: 100%;
    background-color: #a63d40;
    margin-top:300px;
    margin-bottom: 500px;
    padding-top: 100px;
}
.mapContainer path {
    stroke: #a63d40;
    stroke-width: 1.5px;
    transition: fill .4s ease;
    transform-origin: center center;
}

.mapContainer path:hover {
    fill: #9966cb !important;
    cursor: pointer;
    transform: scale(1.005, 1.005);
}

.mapContainer svg {
    stroke-linejoin: round;
    stroke:#000; 
    fill: none;
    width: 70%;
    height: auto;
    margin-left: 10%;
}

.header {
    font-size: 60px;
    float: left;
    background-color: #fcfaf7;
    margin: 100px 50px;
}

.larger {
    font-size: 120px;
}

.dot {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  display: inline-block;
  boder: 1px solid #eed9d9;
  cursor: pointer;
}

.blue {
    background-color: rgb(137, 207, 240);
}

.yellow {
    background-color: rgb(253, 218, 13);
}

.contrast {
    background-color: #a63d40;
    width: 100%;
}

.mapContainer {
    background-color: #a63d40;
    margin: 200px 0px;
    padding: 50px;
    width: 100%;
    color: #eed9d9;
    clear: both;
    font-size: 24px;
}

.mapContainerTitle {
    padding-top: 100px;
    padding-left: 15px;
    font-size: 70px;
}

.mapContainerText {
    padding-left: 15px;
}

.mapHoverBox {
    box-shadow: 0px 7px 40px rgba(0, 0, 0, 0.7);
    opacity: 0%;
    padding: 1rem;
    border-radius: 8px;
    font-size: 24px;
    position: fixed;
    color: black;
    font-family: "Poppins";
    background-color: #9966cb;
    width: fit-content;
    transform: translateX(-50%);
    transition: opacity .4s ease;
    z-index: 3;
}

.menu {
    box-shadow: -3px 0px 3px 0px #a63d40;
}
.menu .nav li a:hover {
    color: #a63d40;
    fill: #a63d40;
}

.endSection_title {
    color: #eed9d9;
}


/* small screen */
@media only screen and (max-width: 768px) {
    .section {
        width: 100%;
        background-color: #a63d40;
        margin-top:150px;
        margin-bottom: 250px;
        padding-top: 50px;
    }

    .header {
        font-size: 30px;
        float: left;
        background-color: #fcfaf7;
        margin: 50px 25px;
    }

    .larger {
        font-size: 60px;
    }

    .mapContainer {
        background-color: #a63d40;
        margin: 100px 0px;
        padding: 25px;
        width: 100%;
        color: #eed9d9;
        clear: both;
        font-size: 18px;
    }

    .mapContainerTitle {
        padding-top: 50px;
        padding-left: 10px;
        font-size: 30px;
    }

    .mapHoverBox {
        box-shadow: 0px 7px 40px rgba(0, 0, 0, 0.7);
        opacity: 0%;
        padding: 8px;
        border-radius: 8px;
        font-size: 16px;
        position: fixed;
        color: black;
        font-family: "Poppins";
        background-color: #9966cb;
        width: fit-content;
        transform: translateX(-50%);
        transition: opacity .4s ease;
        z-index: 3;
    }
}


/* medium screen */
@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .section {
        width: 100%;
        background-color: #a63d40;
        margin-top:225px;
        margin-bottom: 375px;
        padding-top: 75px;
    }

    .header {
        font-size: 52px;
        float: left;
        background-color: #fcfaf7;
        margin: 75px 38px;
    }

    .larger {
        font-size: 90px;
    }

    .mapContainer {
        background-color: #a63d40;
        margin: 150px 0px;
        padding: 38px;
        width: 100%;
        color: #eed9d9;
        clear: both;
        font-size: 22px;
    }

    .mapContainerTitle {
        padding-top: 75px;
        padding-left: 12px;
        font-size: 50px;
    }

    .mapHoverBox {
        box-shadow: 0px 7px 40px rgba(0, 0, 0, 0.7);
        opacity: 0%;
        padding: 12px;
        border-radius: 8px;
        font-size: 20px;
        position: fixed;
        color: black;
        font-family: "Poppins";
        background-color: #9966cb;
        width: fit-content;
        transform: translateX(-50%);
        transition: opacity .4s ease;
        z-index: 3;
    }
}