<!DOCTYPE html>
<html lang="en">
 
<head>
	<meta charset="utf-8">
	<title>&#9729;&#65039; | YUQING HAN</title>
	<link rel="stylesheet" href="./css/main.css">
	<link rel="stylesheet" href="./css/interest.css">
	<link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Orbitron'>
</head>

<body>
	<div class="scrollable" id="app">
		<!-- svg components -->
		<div class="hide">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				<symbol v-for="svg in svgData" :view-box.camel="svg.viewBox" :id="svg.id">
					<path v-for="path in svg.paths" :d="path"/>
				</symbol>
				<symbol v-for="svg in resume.svg" :view-box.camel="svg.viewBox" :id="svg.id">
					<path v-for="path in svg.paths" :d="path"/>
				</symbol>
			</svg>
			<div id="digitalClock" class="clock"></div>
		</div>

		<div class="scrollable longPage" id="resume_page">
			<!-- page menu -->
			<div class="menu">
				<ul class="nav">
					<li v-for="svg in svgData">
						<a :href="svg.href">
							<svg>
								<use xmlns:xlink="http://www.w3.org/1999/xlink" :xlink:href="svg.ref"></use>
							</svg>{{svg.value}}
						</a>
					</li>
				</ul>
			</div>

			<div class="header">
				<p class="headerTitle">
					{{interest.header}}
					<br>
				</p>
			</div>

			<div id="lol" class="interestSection">
				<div class="interestSection_title">
					<a :href="interest.lol.href">{{interest.lol.title}}</a>
					<img :src="interest.lol.imgSrc" alt="lol"/>
				</div>

				<div class="contrast">
					<p>
						
					</p>

					<button id="lolBtn" class="collapsibleBtn">{{interest.lol.btnName}}</button>
					<div class="lolCard">
						<table id="lol_champions">
							<tr>
								<th v-for="attribute in interest.lol.tableAttributes">{{attribute}}</th>
							</tr>
							<tr v-for="item in interest.lol.json" :key="item.id">
								<td><img :src="item.image" :alt="item.id"/></td>
								<td>{{item.name}}</td>
								<td>{{item.title}}</td>
								<td>{{item.tags}}</td>
							</tr>
						</table>
					</div>
				</div>
				
			</div>

			<!-- transition section -->
		 	<div id="transition_section" class="contrast">
		 		<div class="endSection">
			 		<p class="endSection_title">
		 				{{endSection.title}}
		 			</p>
		 			<p><a :href="interest.nextSection.href">{{interest.nextSection.name}}</a></p>
		 		</div>
		 	</div>
		</div>

	</div>
	<footer>&#169; Yuing Han</footer>
	 
 	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
	<script src="./app.js">
		import APP from '.app.js';
	</script>
	<script>
		new Vue(APP);
	</script>
</body>
</html>
