<!DOCTYPE html>
<html lang="en">
 
<head>
	<meta charset="utf-8">
	<title>&#9729;&#65039; | YUQING HAN</title>
	<link rel="stylesheet" href="./css/main.css">
	<link rel="stylesheet" href="./css/interest.css">
	<link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Orbitron'>
</head>

<body>
	<div class="scrollable" id="app">
		<!-- svg components -->
		<div class="hide">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				<symbol v-for="svg in svgData" :view-box.camel="svg.viewBox" :id="svg.id">
					<path v-for="path in svg.paths" :d="path"/>
				</symbol>
				<symbol v-for="svg in interest.svg" :view-box.camel="svg.viewBox" :id="svg.id">
					<path v-for="path in svg.paths" :d="path"/>
				</symbol>
			</svg>
			<div id="digitalClock" class="clock"></div>
		</div>

		<!-- interest page -->
		<div class="scrollable longPage" id="interest_page">
			<!-- page menu -->
			<div class="menu">
				<ul class="nav">
					<li v-for="svg in svgData">
						<a :href="svg.href">
							<svg>
								<use xmlns:xlink="http://www.w3.org/1999/xlink" :xlink:href="svg.ref"></use>
							</svg>{{svg.value}}
						</a>
					</li>
				</ul>
			</div>

			<!-- page header -->
			<div class="header">
				<p class="headerTitle">
					{{interest.header}}
					<br>
				</p>
			</div>

			<div id="lol" class="interestSection darkBackground">
				<!-- lol section -->
				<div class="lolContainer">
					<div class="interestSection_title">
						<a :href="interest.lol.href">{{interest.lol.title}}</a>
						<img :src="interest.lol.imgSrc" alt="lol"/>
					</div>

					<!-- introduction -->
					<div class="sectionContainer">
						<p class="quote">
							<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#leftQuote"></use></svg>
						</p>

						<p class="interestSection_text blueHref">
							{{interest.lol.universe.intro1}}
							<a :href="interest.lol.universe.mobaHref">{{interest.lol.universe.moba}}</a>,
							{{interest.lol.universe.intro2}}
						</p>

						<p class="quote">
							<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#rightQuote"></use></svg>
						</p>
					</div>

					<!-- regions -->
					<div class="sectionContainer">
						<a class="sectionContainerTitle" :href="interest.lol.regionsHref">{{interest.lol.regionsName}}</a><br>
						<p class="blueHref">@credits from <a :href="interest.lol.regionsHref">{{interest.lol.regionsCredits}}</a></p>
						<div class="regionImgContainer">
						    <div class="regionImg" v-for="region in interest.lol.regions">
						    	<fig>
						    		<img :src="region.imgSrc">
						    		<figcaption>{{region.name}}</figcaption>
						    	</fig> 
						    </div>
						</div>
					</div>

					<!-- champions -->
					<div class="sectionContainer">
						<a class="sectionContainerTitle" :href="interest.lol.champsHref">{{interest.lol.champsName}}</a>
						<p class="blueHref">Data fetched from <a :href="interest.lol.champsCreditsHref">{{interest.lol.champsCredits}}</a></p>
						<button id="lolBtn" class="collapsibleBtn">{{interest.lol.btnName}}</button>
						<div class="lolCard">
							<table id="lol_champions">
								<tr>
									<th v-for="attribute in interest.lol.tableAttributes">{{attribute}}</th>
								</tr>
								<tr v-for="item in interest.lol.json" :key="item.id">
									<td><img :src="item.image" :alt="item.id"/></td>
									<td>{{item.name}}</td>
									<td>{{item.title}}</td>
									<td>{{item.tags}}</td>
								</tr>
							</table>
						</div>
					</div>

					<!-- arcane -->
					<div class="sectionContainer">
						<a class="sectionContainerTitle" :href="interest.lol.arcane.href">{{interest.lol.arcane.name}}</a>
						<p class="blueHref">For more interesting details, please visit <a :href="interest.lol.arcane.href">{{interest.lol.arcane.name}}</a></p>
						<div class="arcaneSection">
							<div class="iframeContainer">
								<iframe width="560" height="315" :src="interest.lol.arcane.trailerIframeSrc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								<p>{{interest.lol.arcane.trailer}}</p>
							</div>
							<div class="inlineIntroContainer">
								<p v-for="text in interest.lol.arcane.intro">{{text}}</p>
							</div>
						</div>
						<div class="arcaneSection">
							<div class="iframeContainer">
								<iframe width="560" height="315" :src="interest.lol.arcane.fightScenesIframeSrc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								<p>{{interest.lol.arcane.fightScenes}}</p>
							</div>
							<div class="inlineIntroContainer">
								<p v-for="text in interest.lol.arcane.intro2">{{text}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>

<!-- 			<div id="travel" class="interestSection">
				<div class="interestSection_title">
					<a>{{interest.travel.title}}</a>
				</div>
				<div id="details-box"></div>
			    <svg
			    xmlns:dc="http://purl.org/dc/elements/1.1/"
			    xmlns:cc="http://creativecommons.org/ns#"
			    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
			    xmlns:svg="http://www.w3.org/2000/svg"
			    xmlns="http://www.w3.org/2000/svg"
			    xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
			    xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
			    enable_background="new 0 0 1000 589"
			    height="589px"
			    pretty_print="False"
			    style="stroke-linejoin: round; stroke:#000; fill: none;"
			    version="1.1"
			    viewBox="0 0 1000 589"
			    width="1000px"
			    id="us-map"
			    preserveAspectRatio="xMinYMin meet"
			    inkscape:version="0.48.4 r9939"
			    sodipodi:docname="us.svg">
			    <sodipodi:namedview
			        pagecolor="#ffffff"
			        bordercolor="#666666"
			        borderopacity="1"
			        objecttolerance="10"
			        gridtolerance="10"
			        guidetolerance="10"
			        inkscape:pageopacity="0"
			        inkscape:pageshadow="2"
			        inkscape:window-width="1920"
			        inkscape:window-height="1137"
			        id="namedview69"
			        showgrid="false"
			        inkscape:zoom="0.80893016"
			        inkscape:cx="817.66365"
			        inkscape:cy="409.3738"
			        inkscape:window-x="1192"
			        inkscape:window-y="118"
			        inkscape:window-maximized="1"
			        inkscape:current-layer="svg2" />
			    <defs
			        id="defs4">
			    <style
			        type="text/css"
			        id="style6">path { fill-rule: evenodd; }</style>
			    </defs>
			    <metadata
			        id="metadata8">
			    <views
			        id="views10">
			        <view
			            h="589.235294118"
			            padding="0"
			            w="1000"
			            id="view12">
			        <proj
			            id="laea-usa"
			            lat0="45"
			            lon0="-100" />
			        <bbox
			            h="321.97"
			            w="589.33"
			            x="690.09"
			            y="918.69"
			            id="bbox15" />
			        </view>
			    </views>
			    <rdf:RDF>
			        <cc:Work
			            rdf:about="">
			        <dc:format>image/svg+xml</dc:format>
			        <dc:type
			            rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
			        <dc:title />
			        </cc:Work>
			    </rdf:RDF>
			    </metadata>
			    <path v-for="state in interest.travel.json" :d="state.d" :id="state.id" :data-id="state.id" :data-name="state.name"
			    nkscape:connector-curvature="0" :style="stroke-width:0.97063118000000004; fill:state.fill"/>
			    </svg>
			</div> -->

			<!-- transition section -->
		 	<div id="transition_section" class="contrast">
		 		<div class="endSection">
			 		<p class="endSection_title">
		 				{{endSection.title}}
		 			</p>
		 			<p><a :href="interest.nextSection.href">{{interest.nextSection.name}}</a></p>
		 		</div>
		 	</div>
		</div>

	</div>
	<footer>&#169; Yuing Han</footer>
	 
 	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
	<script src="./app.js">
		import APP from '.app.js';
	</script>
	<script>
		new Vue(APP);
	</script>
</body>
</html>
